#忽略构建文件及其他缓存文件
**/build/
**/cmake-build-debug/
**/cmake-build-release/
**/out/
**/.xmake/
**/.idea/
**/.vs/
**/.vscode/
**/.cache/
#忽略目标文件
**/bin/
**/lib/
**/x64/
#忽略构建系统生成的用于补全的文件
compile_commands.json
CMakeSettings.json
#忽略特定后缀文件
**.pdb
**.exe
**.dll
**.so
**.lib
**.a
